In [1]:
import pandas as pd
gs_ft_sevm = pd.read_csv('GS_ft_sevM.csv')
gs_ft_db = pd.read_csv('GS_ft_db.csv')
gs_ft_db = pd.read_csv('GS_db_sevM.csv')

In [2]:
gs_ft_sevm['ft_id'] = gs_ft_sevm['ft_id'].apply(str.lower)
gs_ft_sevm['sevM_id'] = gs_ft_sevm['sevM_id'].apply(str.lower)
gs_ft_db['ft_id'] = gs_ft_db['ft_id'].apply(str.lower)

In [2]:
gs_ft_db

            db_id    sevM_id  label
0    dbpedia_1017   7.1m_151   True
1    dbpedia_5227   7.1m_769   True
2    dbpedia_6200   7.1m_105   True
3     dbpedia_124   7.1m_114   True
4    dbpedia_2698  7.1m_1595   True
..            ...        ...    ...
495  dbpedia_4029    7.1m_15  False
496   dbpedia_311  7.1m_1709  False
497  dbpedia_5203   7.1m_443  False
498   dbpedia_135   7.1m_207  False
499  dbpedia_2871   7.1m_293  False

[500 rows x 3 columns]

In [3]:
gs_ft_sevm

          ft_id    sevM_id  label
0     ft_id_129   7.1m_488   True
1     ft_id_191   7.1m_171   True
2    ft_id_1234  7.1m_1770   True
3     ft_id_322   7.1m_642   True
4    ft_id_1145   7.1m_474   True
..          ...        ...    ...
495  ft_id_1603   7.1m_639  False
496    ft_id_74   7.1m_637  False
497  ft_id_1471  7.1m_1279  False
498   ft_id_886   7.1m_471  False
499   ft_id_603   7.1m_574  False

[500 rows x 3 columns]

In [4]:
gs_ft_db

          ft_id         db_id  label
0     ft_id_492  dbpedia_5677   True
1     ft_id_362  dbpedia_5902   True
2    ft_id_1273  dbpedia_5821   True
3    ft_id_1781  dbpedia_2620   True
4     ft_id_273  dbpedia_1604   True
..          ...           ...    ...
495  ft_id_1538  dbpedia_6227  False
496    ft_id_97   dbpedia_184  False
497   ft_id_158  dbpedia_4769  False
498  ft_id_1329  dbpedia_2189  False
499   ft_id_466  dbpedia_5057  False

[500 rows x 3 columns]

In [5]:
gs_ft_sevm.to_csv('gs_ft_sevm_lower.csv', index=False)
gs_ft_db.to_csv('gs_ft_db_lower.csv', index=False)